<section class="account">
  <div class="intro">
    <h3>Добро пожаловать!</h3>
    <p>Когда вы присоединитесь к нам, вы сможете участвовать в дискуссиях, оставлять комментарии, а также выставлять рейтинги заведениям, для того, чтобы мы смогли их лучше ратировать. </br>
      У вас уже есть аккаут? 
      <a href="/users/sign_in">Войти!</a>
    </p>
  </div>
<h4>Создание аккаунта</h4>

<div class="own_account_zone">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :Имя %><br />
  <%= f.text_field :nickname, :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if f.object.password_required? %>
    <div><%= f.label :Пароль %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :"Подтверждение пароля" %><br />
    <%= f.password_field :password_confirmation %></div>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
<div class="shared_account_zone">
<%= render "devise/shared/links" %>
</div>
</section>
