.comment.editable{ id: "comment_#{comment.id}" }
  %span.user-link 
    %a{ href: user_path(comment.user), class: 'nickname' }= comment.user.nickname
  %text.comment_text= comment.html_text
  - if comment.user == current_user
    %span.comment_action
      = link_to '', edit_comment_path(comment), class: 'comment_change', remote: true
      = link_to '', comment_path(comment), method: :delete, class: 'comment_delete', remote: true, data: { confirm: 'Вы уверены?' }
  - if comment.picture?
    = link_to image_tag(comment.picture.url(:medium), class: 'comment_image'), comment.picture.url
  .footer 
    = time_ago_in_words comment.date
    назад
      
