.comments-panel
  -cmts = owner.comments
  .comments-info 
    %span#comments_count= comments(cmts.count)
  .line 
  .comments
    = render partial: 'comments/comment', collection: cmts.order("date")
  .comment_form
    - if current_user
      = render partial: 'comments/form', locals: { owner: owner }