- @comment ||= Comment.new
= form_for(@comment, remote: true, html: { multipart: true }) do |f|
  = f.text_area :text, class: "comment_text_field", rows: 10, cols: 70, placeholder: 'Добавить комментарий...'
  %img#picture_button{ src: image_path('photo.png') }
  = f.file_field :picture, id: 'hidden_picture_button'
  %span#filename
  = f.hidden_field :commentable_id, value: owner.id
  = f.hidden_field :commentable_type, value: owner.class.model_name.name

  = f.button 'Отмена' , class: 'hidden_cancel', value: 'cancel'
  = f.submit @comment.persisted? ? 'Применить' : 'Добавить комментарий', class: 'hidden_submit'





