var text = $('#comment_<%= @comment.id %> .comment_text');
text.replaceWith("<%= j render partial: 'comments/form', locals: { owner: Page.work } %>");
$('.hidden_submit').hide();
// $('.hidden_cancel').hide();

var c = $('#comment_<%= @comment.id %>');
c.removeClass('editable');
