- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) 
  %br

- if devise_mapping.omniauthable?
  Войти c
  %ul
  - resource_class.omniauth_providers.each do |provider|
    %li{class: provider}
      %a{href: omniauth_authorize_path(resource_name, provider)}

        -  icon =  case provider.downcase.to_s 
        -    when 'vkontakte' then "vk" 
        -    when 'developer' then "gear" 
        -    else provider.downcase 

        %i{class: "fa fa-#{icon} fa-fw" }
