- url = @article.persisted? ? admin_article_path(@article) : '/admin/articles'
= form_for(@article, url: url) do |f| 
  - if @article.errors.any? 
    #error_explanation
      %h2= pluralize(@article.errors.count, "error")  + 'prohibited this article from being saved:'
      %ul
        - @article.errors.full_messages.each do |msg| 
          %li= msg

  .field
    = f.label :Название 
    %br
    = f.text_field :title, size: 100  
  
  .field
    = f.label :Дата 
    %br
    = f.datetime_select :date 
  
  .field
    = f.label :Заголовок 
    %br
    = f.text_area :header, class: "tinymce", rel: "tinymce", rows: 4, cols: 60  
  
  .field
    = f.label :Текст 
    %br
    = f.text_area :body, class: "tinymce", rel: "tinymce", rows: 20, cols: 100 

  .actions
    = f.submit 'Сохранить статью'
