%section.admin_articles

  %p.alert= alert
  
  %h1 Список статей

  %table
    %thead
      %tr
        %th Title
        %th Date
        - if current_user.admin?
          %th Approved
        %th
        %th

    %tbody
      - @articles.each do |article|
        %tr
          %td= article.title
          %td= l article.date.try :to_date if article.date
          - if current_user.admin?
            %td= check_box_tag :approved, :approved, article.approved?, data: {url: admin_article_set_approved_path(article)}
          %td= link_to 'Edit', edit_admin_article_path(article), data: {'no-turbolink' => true }
          %td= link_to 'Show', article
          %td= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } 

  %br

  = link_to 'Новая статья', new_admin_article_path
