%p.notice= notice

%p
  %strong Title
  = @article.title

%p
  %strong Header:
  = @article.header

%p
  %strong>Body:
  = @article.body

%p
  %strong Date:
  = @article.date

= link_to 'Edit', edit_admin_article_path(@article) 
|
= link_to 'Back', admin_articles_path
