%section.article
  %header
    .article-date= l @article.date.to_date if @article.date
    %h1= @article.title


  .article-header= @article.header.html_safe

  .article-body= @article.body.html_safe

  %footer
    = link_to 'Вернуться к списку статей', articles_path

= render partial: 'comments/comments_panel', locals: { owner: @article }

