%section.notifications

  - if @new_notifications.count > 0
    %h3= "Новые #{@new_notifications.count}"

    - @new_notifications.each do |n|
      %p
        %a{ href: user_path(n.ref_user)}= n.ref_user.nickname
        = " #{n.header} "
        %a{href: n.url}= n.link_title
      %p=n.text

  %h3= "Прочитанные #{@old_notifications.count}" 

  - @old_notifications.each do |n|
    %p
      %a{ href: user_path(n.ref_user)}= n.ref_user.nickname
      = " #{n.header} "
      %a{href: n.url}= n.link_title
    %p=n.text

- @new_notifications.update_all read: true

