%article.news
  %header
    %div= l article.date.try :to_date if article.date
    %h1= link_to article.title, article
  
  %section
    %p= article.header.html_safe

    %footer
      %div.article_footer
        %a= link_to comments(article.comments.count), article 
