<article class="boxedcontainer">

  <!--
  #################################
    - THEMEPUNCH BANNER -
  #################################
  -->
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>  
  <!-- SLIDE  -->
  <li data-transition="slideleft" data-slotamount="7" data-masterspeed="2000" data-thumb="" data-delay="10000"  data-saveperformance="on"  data-title="Ken Burns Slide">
    <!-- MAIN IMAGE -->
    <img src="<%= image_path('dummy.png') %>"  alt="laptopmockup_sliderdy" data-lazyload="<%= image_path('slide-news.jpg') %>" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
    <!-- LAYERS -->

    <!-- LAYER NR. 3 -->
    <div class="tp-caption black_bold_40 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="center"
      data-y="30"
      data-speed="500"
      data-start="2400"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Добро пожаловать на сайт Южнопортового района!
    </div>

                <div class="tp-caption medium_bg_red sfr fadeout tp-resizeme rs-parallaxlevel-10"
                        data-x="center" data-hoffset="-210"
      data-y="center" data-voffset="-165"
      data-speed="600"
      data-start="2000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Что происходит:
    </div>
                
                <div class="tp-caption medium_bg_red sfr fadeout tp-resizeme rs-parallaxlevel-10"
                        data-x="center" data-hoffset="-100"
      data-y="center" data-voffset="-90"
      data-speed="600"
      data-start="2500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">последние
    </div>
                
    <!-- LAYER NR. 1 -->
    <div class="tp-caption customin fadeout rs-parallaxlevel-10"
      data-x="center" data-hoffset="3"
      data-y="center" data-voffset="4"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="600"
      data-start="3000"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 2;"><img src="<%= image_path('dummy.png') %>" alt="" data-lazyload="<%= image_path('redbg_big.png') %>">
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption light_heavy_40_link customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="center"
      data-y="center"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="600"
      data-start="3000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
                        style="z-index: 114; max-width: auto; max-height: auto; white-space: nowrap;">
                    <div class=" rs-slideloop"      
                        data-easing="Power3.easeInOut"
      data-speed="2"
      data-xs="0"
      data-xe="0"
      data-ys="0"
      data-ye="0"><a href="/articles">новости</a>
                    </div>
    </div>                
                
                <div class="tp-caption medium_bg_red sfr fadeout tp-resizeme rs-parallaxlevel-10"
                        data-x="center" data-hoffset="110"
      data-y="center" data-voffset="90"
      data-speed="600"
      data-start="3500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">района
    </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="900"
      data-y="407"
      data-speed="300"
      data-start="4000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">НЕОФИЦИАЛЬНЫЙ САЙТ
    </div>

    <!-- LAYER NR. 6 -->
    <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="869"
      data-y="407"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 7 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
      data-x="878"
      data-y="414"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4200"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 8;"><img src="<%= image_path('dummy.png') %>" alt="" data-ww="17" data-hh="17" data-lazyload="<%= image_path('check.png') %>">
    </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="900"
      data-y="447"
      data-speed="300"
      data-start="4500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">СОЗДАНО ЖИТЕЛЯМИ
    </div>

    <!-- LAYER NR. 9 -->
    <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="869"
      data-y="447"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4500"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 10 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
      data-x="878"
      data-y="454"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="4700"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 11;"><img src="<%= image_path('dummy.png') %>" alt="" data-ww="17" data-hh="17" data-lazyload="<%= image_path('check.png') %>">
    </div>

    <!-- LAYER NR. 11 -->
    <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="900"
      data-y="487"
      data-speed="300"
      data-start="5000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">НА ЗЛОБУ ДНЯ
    </div>

    <!-- LAYER NR. 12 -->
    <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
      data-x="869"
      data-y="487"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="5000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 13 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
      data-x="878"
      data-y="494"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="5200"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 14;"><img src="<%= image_path('dummy.png') %>" alt="" data-ww="17" data-hh="17" data-lazyload="<%= image_path('check.png') %>">
    </div>
  </li>
  
<!-- SLIDE  -->
  <li data-transition="slideup" data-slotamount="7" data-masterspeed="1000" data-thumb=""  data-saveperformance="on"  data-title="Parallax 3D">
    <!-- MAIN IMAGE -->
    <img src="<%= image_path('dummy.png') %>"  alt="3dbg" data-lazyload="<%= image_path('slide-complaint.jpg') %>" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
    <!-- LAYERS -->

    <!-- LAYER NR. 15 -->
    <div class="tp-caption fullrounded customin rs-parallaxlevel-10"
      data-x="center" data-hoffset="0"
      data-y="center" data-voffset="0"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="600"
      data-start="1100"
      data-easing="Power4.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 16;"><div class=" rs-slideloop"       data-easing="Power3.easeInOut"
      data-speed="2"
      data-xs="0"
      data-xe="0"
      data-ys="0"
      data-ye="0"
>
<img src="<%= image_path('dummy.png') %>" alt="" data-lazyload="<%= image_path('slide-complaint-bg.png') %>">
    </div>
    </div>

    <!-- LAYER NR. 16 -->
    <div class="tp-caption white_thin_34 customin randomrotateout tp-resizeme rs-parallaxlevel-10"
      data-x="center" data-hoffset="0"
      data-y="center" data-voffset="-60"
      data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
      data-speed="300"
      data-start="1400"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="1000"
      style="z-index: 17; max-width: auto; max-height: auto; white-space: nowrap;">Начните с
    </div>

    <!-- LAYER NR. 17 -->
    <div class="tp-caption white_heavy_70 customin randomrotateout tp-resizeme rs-parallaxlevel-10"
      data-x="center" data-hoffset="0"
      data-y="center" data-voffset="0"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="1700"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="1000"
      style="z-index: 18; max-width: auto; max-height: auto; white-space: nowrap;"><div class=" rs-slideloop"       data-easing="Power3.easeInOut"
      data-speed="2"
      data-xs="0"
      data-xe="0"
      data-ys="0"
      data-ye="0"
>
РЕШЕНИЯ ПРОБЛЕМ
    </div>
    </div>

    <!-- LAYER NR. 18 -->
    <div class="tp-caption noshadow skewfromright randomrotateout tp-resizeme rs-parallaxlevel-0"
      data-x="center" data-hoffset="0"
      data-y="center" data-voffset="100"
      data-speed="300"
      data-start="2000"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="1000"
      style="z-index: 19; max-width: auto; max-height: auto; white-space: nowrap;"><div class=" rs-slideloop"       data-easing="Power3.easeInOut"
      data-speed="2"
      data-xs="0"
      data-xe="0"
      data-ys="0"
      data-ye="0"
>
<a href="/helpful" class="largeredbtn">КУДА ОБРАЩАТЬСЯ</a>
    </div>
    </div>

    <!-- LAYER NR. 19 -->
    <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-0"
      data-x="696"
      data-y="444"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="2300"
      data-easing="Power3.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 20;"><div class=" rs-slideloop"       data-easing="Power3.easeInOut"
      data-speed="0.5"
      data-xs="-5"
      data-xe="5"
      data-ys="0"
      data-ye="0"
>
<a href="http://codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380?ref=themepunch" target="_blank"><img src="<%= image_path('dummy.png') %>" alt="" data-ww="18" data-hh="11" data-lazyload="<%= image_path('doublearrow2.png') %>"></a>
    </div>
    </div>
  </li> 
  
  
        
<!-- SLIDE  -->
  <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500" data-thumb=""  data-saveperformance="on"  data-title="Mobile Interaction">
    <!-- MAIN IMAGE -->
    <img src="<%= image_path('dummy.png') %>"  alt="slidebg2" data-lazyload="<%= image_path('slide-yellow-papers-bg.jpg') %>" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption lfb rs-parallaxlevel-9"
      data-x="left" data-hoffset="20"
      data-y="bottom" data-voffset=""
      data-speed="1500"
      data-start="2400"
      data-easing="Power4.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 2;"><img src="<%= image_path('dummy.png') %>" alt="" data-lazyload="<%= image_path('slider-yellow-paper-school.jpg') %>">
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption lfb rs-parallaxlevel-9"
      data-x="center"
      data-y="bottom"
      data-speed="1500"
      data-start="2900"
      data-easing="Power4.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 5;"><img src="<%= image_path('dummy.png') %>" alt="" data-lazyload="<%= image_path('slider-yellow-paper-ambulance.jpg') %>">
    </div>
                
    <!-- LAYER NR. 4 -->
    <div class="tp-caption lfb rs-parallaxlevel-9"
      data-x="right" data-hoffset="-20"
      data-y="bottom"
      data-speed="1500"
      data-start="3400"
      data-easing="Power4.easeInOut"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="300"
      style="z-index: 5;"><img src="<%= image_path('dummy.png') %>" alt="" data-lazyload="<%= image_path('slider-yellow-paper-authorities.jpg') %>">
    </div>

    <!-- LAYER NR. 5 -->
    <div class="tp-caption light_heavy_40 customin randomrotateout tp-resizeme rs-parallaxlevel-5"
      data-x="center"
      data-y="20"
      data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
      data-speed="500"
      data-start="1400"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="600"
      style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">«Жёлтые страницы»
    </div>

    

    <!-- LAYER NR. 7 -->
    <div class="tp-caption light_medium_30 customin randomrotateout tp-resizeme rs-parallaxlevel-7"
      data-x="left" data-hoffset="20"
      data-y="110"
      data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="300"
      data-start="2200"
      data-easing="Power3.easeInOut"
      data-splitin="none"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="600"
      style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">школы
    </div>

    <!-- LAYER NR. 8 -->
    <div class="tp-caption light_medium_30 skewfromrightshort randomrotateout tp-resizeme rs-parallaxlevel-6"
      data-x="center"
      data-y="110"
      data-speed="500"
      data-start="2500"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="600"
      style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">поликлиники
    </div>
                
    <!-- LAYER NR. 9 -->
    <div class="tp-caption light_medium_30 skewfromrightshort randomrotateout tp-resizeme rs-parallaxlevel-6"
      data-x="right" data-hoffset="-20"
      data-y="110"
      data-speed="500"
      data-start="2500"
      data-easing="Power3.easeInOut"
      data-splitin="chars"
      data-splitout="none"
      data-elementdelay="0.1"
      data-endelementdelay="0.1"
      data-endspeed="600"
      style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">органы власти
    </div>
  </li>        
        
</ul>
<div class="tp-bannertimer"></div>  </div>
</div>
</article>  