    <style type="text/css">
      #map-canvas { height: 800px; width:80%; margin: auto 0; padding: 200;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 55.716583, lng: 37.677400},
          zoom: 14
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var myCoordinates = [
          new google.maps.LatLng(55.705523, 37.686582),
          new google.maps.LatLng(55.704725, 37.690187),
          new google.maps.LatLng(55.697180, 37.684608),
          new google.maps.LatLng(55.697929, 37.680058),
          new google.maps.LatLng(55.698075, 37.676239),
          new google.maps.LatLng(55.698582, 37.674608),
          new google.maps.LatLng(55.700130, 37.672505),
          new google.maps.LatLng(55.700807, 37.669759),
          new google.maps.LatLng(55.701025, 37.667055),
          new google.maps.LatLng(55.705426, 37.667398),
          new google.maps.LatLng(55.718385, 37.663364),
          new google.maps.LatLng(55.725080, 37.663364),
          new google.maps.LatLng(55.726844, 37.662807),
          new google.maps.LatLng(55.730783, 37.660317),
          new google.maps.LatLng(55.731774, 37.664480),
          new google.maps.LatLng(55.730820, 37.665360),
          new google.maps.LatLng(55.730656, 37.666208),
          new google.maps.LatLng(55.730928, 37.667248),
          new google.maps.LatLng(55.725829, 37.670488),
          new google.maps.LatLng(55.727400, 37.677612),
          new google.maps.LatLng(55.727557, 37.678149),
          new google.maps.LatLng(55.728318, 37.678921),
          new google.maps.LatLng(55.720874, 37.700315),
          new google.maps.LatLng(55.714807, 37.679071)
        ];
        var polyOptions = {
          path: myCoordinates,
          strokeColor: "#FF0000",
          strokeOpacity: 1,
          strokeWeight: 0.5,
          fillColor: "#FF0000",
          fillOpacity: 0.05
        }
        var it = new google.maps.Polygon(polyOptions);
        it.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);


    </script>

    <div id="map-canvas"></div>