
.tasks
  .admin_links

    - if current_user
      %h3 Администрирование
      = link_to 'Редактор новостей', admin_articles_path

  %h2 Обсудить

  %ul
    %li Как привлечь людей на сайт, как побудить писать статьи и тому подобное?
    %li Куда поместить информацию для активистов (и какую именно)? (эта информация немного пересекается с куда обращаться)
    
  %h2 Первостепенные задачи

  %ol
    %li Возможность закреплять новости    
    %li Добавление фотографий в раздел информация о районе, школы и тп (фотографии нужно раздобыть)
    %li Доработка структуры раздела куда обращаться
    %li Дизайн (не забыть эмблему)
    %li Перенаправить домен на сайт
    %li Работа с коментариями с мобильных девайсов
    %li Проверить регистрацию через соц сети (особенно facebook)

  %h2 Второстепенные задачи

  %ol
    %li 
      Странички для учреждений (нужно подумать какая информация на них нужна см. 
      %a{href: 'https://docs.google.com/document/d/1jid-YMnwMmBk10VosyU2ZqX8n7PzVTGrriDDUp7pdv8/edit'} ссылку 
      )
    %li Страничка профиля для кандидатов и других общественных деятелей
    %li События (глобальные например встреча с кандидатом) располагаются например справа или слева
    %li Работа с коментариями с мобильных девайсов
    %li Возможность лайкать статьи новости и комментарии
    %li Аватарки для пользователей
    %li Карта с объектами в районе
    %li Добавление Кафе, магазинов и еще чего то подобного
    %li 
      Стиль стринички "Куда обращаться"
      %a{href: 'http://akademka.org/page/28'} пример Академического района


  %h2 Последний изменения
  %ul
    %li Исправить исчезновение картинок в новостях с каждым обновлением
    %li Оповещения о коментариях
    %li Добавление фотографии в заголовок новости
    %li Работа с ссылками в редактирование статей
    %li Возможность сворачивать подпункты в меню раздел информация о районе
    %li Премодерация новостей
    %li Исправление комментариев на странице организаций (раздел информация о районе)
    %li Исправление ссылки создания статьи
    %li Редактировать статьи могут только зарегистрированные пользователи
    %li Удаление ссылки события из заголовка
    %li Страничка куда звонить
    %li Улучшение дизайна меню в информации о районе
    %li Редактирование новостей (вставка картинок)
    %li Исправление комментариев к новостям
    %li Страничка О НАС

.links
  %h2  Справочные ссылки

  %ol
    %li
      %a{href: 'https://pgu.mos.ru'} Портал городских услуг
      (к примеру можно узнать информацию по 
      %a{href: 'https://pgu.mos.ru/ru/mfc/'} МФУ
      )
    %li
      %a{href: 'http://orgpoisk.ru/orgbyreg/rgn/139:60'} Диспечерские
    %li
      %a{href: 'http://xn--b1ahkofaagku5h0a.xn--p1ai/sp_7.html'} УВД района
    %li
      %a{href: 'http://akademka.org'} Сайт академического района, хороший, можно заимствовать что-то

  %h2 Ссылки на рабочие документы

  %ol
    %li
      %a{href: 'https://docs.google.com/spreadsheets/d/1DJpw0t_7rLnylG-vSgicql0snqyI6fEiEK4_NCUDoBc/edit?usp=sharing'} Файл (открытый на редактирование) с информацией по району
    %li
      %a{href: 'https://docs.google.com/document/d/1jid-YMnwMmBk10VosyU2ZqX8n7PzVTGrriDDUp7pdv8/edit'} Типовые страницы учреждений
      , где главное — придумать, какие полезные ссылки в связи с каждым типом учреждений можно дать (можно использовать
      %a{href: 'https://docs.google.com/document/d/1yV_L1Tey34nXW5ECDVDlKk_cHsitWj9YAlhSG2fa1kI/edit'} еще
      и
      %a{href: 'https://docs.google.com/document/d/1vYgKRNNAJ3JoD5c5cA_aktp-439FeIoU12JlMIE74Tg/edit'} еще
      )
    %li
      %a{href: 'https://docs.google.com/document/d/16FQrNHzc6s9tumPZTP875itRjdHhw_vgaTWn_SuXxUw/edit'} Статья про ТРЦ Мозаика
      — пока там только ссылки на материалы по теме.
    %li
      %a{href: 'https://docs.google.com/document/d/1HhVuWH1aj3RW9oPY35d7Jyzt8BXA6NjeFQ2qBx49QTU/edit'} Статья про Ремонт теплотрассы, продолжающийся уже год
      — там пока вообще ничего нет, если ничего не найдётся, не станем дописывать.
    %li
      %a{href: 'https://docs.google.com/document/d/1CCTvFNLQOaD0TR6Y34j9LS92Y__JUe8RGd7e5TUBFxc/edit'} Статья про планы расширения Южнопортовой улицы
      — пока там есть материалы публичных слушаний, а текста как такового нет
    %li
      %a{href: 'https://docs.google.com/document/d/14xD1e_tERV-xbTXoSbqaSOW4I2SFskP0LpZmgU5ZdpY/edit'} Статья про межевание и суд, через который жители уже год пытаются его обжаловать
      — пока там общие тезисы о межевании из поста Веры Кичановой.
    %li
      %a{href: 'https://docs.google.com/document/d/18PSltVzbVseZqpaUmEERuZq-XhOIVwuA-nTz8v6xr5I/edit'} Статья про общежитие для мигрантов в послепожарном здании у м. Дубровка
      — пока там совсем мало, я, честно говоря, даже не до конца понимаю, о каком здании речь.
    %li
      %a{href: 'https://docs.google.com/document/d/1yV_L1Tey34nXW5ECDVDlKk_cHsitWj9YAlhSG2fa1kI/edit?pli=1'} Полезная информация — куда жаловаться 
      (довольно много информации, нужно подумать как это использовать)


= render partial: 'comments/comments_panel', locals: { owner: Page.work }
