%h3= section['name']
%div
  - section['subsections'].each do |s|
    .accordion
      %h4= s['name']
      %div
        - s['orgs'].each do |o|
          %p= o['url'] ? link_to(o['name'], o['url']) : o['name']
          - phones = o['phones'] || []
          - phones.each do |p|
            %p= p.html_safe

/ %p.trigger 
/   %a= section['name']
/ .toggle_container
/   .block
/     - section['subsections'].each do |s|
/       %p.trigger 
/         %a= s['name']
/       .toggle_container
/         .block
/           - s['orgs'].each do |o|
/             %p= o['url'] ? link_to(o['name'], o['url']) : o['name']
/             - phones = o['phones'] || []
/             - phones.each do |p|
/               %p= p.html_safe

