/ %section.helpful
/   %h1 Куда обращаться
/   = render collection: @sections, partial: 'section'


%section.content
  %h2#shuffle_letters Порядок действий и контакты ответственных организаций
  .accordion#accordion
    = render collection: @sections, partial: 'section'
