<section class="account">
	  <div class="intro">
		<h3>Войти</h3>
		<p>У вас еще нет аккаунта? <a href="/users/sign_up"> Зарегистрируйтесь!</a></p>
	   </div>

<div class="own_account_zone">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :login %><br />
  <%= f.text_field :login, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Забыли пароль?", new_password_path(resource_name) %><br />
<% end -%>

</div>

<div class="shared_account_zone">
<%= render "devise/shared/links" %>
</div>
</section>
