%section.content.about
  
  %h2#shuffle_letters Неофициальный сайт района, созданный жителями
  
  %p Этот сайт создан участниками Гражданского объединения «Южный порт». Мы хотим, чтобы он стал площадкой, на которой можно узнать, что происходит в районе, пообщаться с соседями, обсудить проблемы, которые нас волнуют, и сообща найти их решение.
  %p Здесь можно:
    
  %ul
    %li
      %i.fa.fa-anchor
      прочесть свежие районные 
      %a{href:"/articles"} новости 
      и поделиться своими историями о проблемах и радостях Южнопортового
    %li
      %i.fa.fa-anchor
      узнать, чем занимаются выбранные нами депутаты муниципального собрания и Московской городской думы
    %li
      %i.fa.fa-anchor
      найти контакты органов власти, выяснить, по каким вопросам к ним имеет смысл обращаться, и куда жаловаться, если они не реагируют на обращения;
    %li
      %i.fa.fa-anchor
      получить информацию о школах и детских садах, познакомиться с отзывами, которые оставили о них ваши соседи, которые сами закончили эти школы или водят туда своих детей
        
  %p.welcome Присоединяйтесь к нам!
