section.about.content {
    background-image: url(image_path("about-bg.jpg"));
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 600px;
}
section.about p,
section.about ul {
    margin-top: 20px;
}
section.about ul i {
    margin-right: 10px;
}

section.about p.welcome {
    font-family: "Bad Script";
    font-size: 20px;
    margin-bottom: 50px;
}
section.about img.illustration {
    float: right;
}
@media (max-width: 768px) {
    section.about.content {
        min-height: 360px;
    }    
}