section.article{
  width: 70%;
  margin: 50px auto 0 auto;
  text-align: left;
}

.article {
  header {
    text-align: center;
    h1{
      margin-bottom: 20px;
    }
    div {
      font-size: 11px;
      color: #999;
      margin-left: 30px;
    }
  }

  footer{
    margin-top: 20px;
  }
}

.admin_articles{
  width: 90%;
  margin: 20px auto 40px auto;

  text-align: left;

  td {
    padding-right: 20px;
  }
  input[type=text]{
    width: 435px;
  }
}
