$commentsize: 16px;

.comments-panel {
  text-align: center;
  width: 80%;
  margin: 20px auto;
  padding-bottom: 100px;

  .comments-info{
    padding-left: 40px;
    span {
      margin-right: 30px;
    }
  }

  .comments, .new_comment{
    width: 70%;
    margin: 20px auto;
    position: relative;
  }

  textarea { 
    resize: none;
    border: 1px solid rgb(225,225,225);
    height: 18px;
    padding: 8px;
    width: 100%;
    line-height: 1.3em;
  }

  .comment {
    margin: 10px 0;
    &.editable:hover .comment_change{
      background-image: image-url("edit.png");
      width: $commentsize;
      height: $commentsize;
      display: inline-block;
    }

    &.editable:hover .comment_delete{
      background-image: image-url("remove.png");
      width: $commentsize;
      height: $commentsize;
      display: inline-block;
    }
  }
  .comment_image{
    display: block;
    max-width: 50%;
    margin: 10px auto;
  }

  #hidden_picture_button{
    display: none;
  }

  #picture_button{
    position: absolute;
    top: 8px;
    right: 4px;
    cursor: pointer;
  }

  .nickname{
    font-weight: bold;
    color: #3B599E;
  }
}