/* MAIN FOOTER */

footer.mainfooter {
    clear: both;
}

#city-bg {
    background-image: url(image_path('footer-bg.png'));
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
    background-color: #fff;
    height: 300px;
}

div#footer-content {
    background-image: url(image_path('footer-content-bg.jpg'));
    background-repeat: repeat-y;
    background-position: left top;
    background-color: #000;
    background-size: 100%;
    color: #fff;
    padding: 40px 0;
    min-height: 180px;

    div.col {
        width: 25%;
        float: left;
    }
}

nav.main-menu {
    ul {
        text-align: left;
        width: 175px;
        margin: auto;
    }

    li {
        margin-bottom: 10px;
    }
    a * {
        vertical-align: middle;
    }
     a {
        white-space: nowrap;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
        
    a:hover {
        color: #f6cd11;
    }

    a i {
        width: 24px;
        display: block;
        float: left;
        margin-top: 5px;
    }
}

nav.reg-log a:hover, nav.social-nets a:hover {
    color: #f6cd11;
    background-color: rgba(17, 17, 17, 1);
}


nav.reg-log li {
    margin-bottom: 10px;
}
nav.reg-log a {
    color: #fff;
    text-decoration: none;
    display: block;
    background-color: rgba(17, 17, 17, 0.7);
    height: 40px;
    max-width: 187px;
    margin: auto;
    line-height: 40px;
    font-size: 13px;
}

nav.social-nets li {
    margin-bottom: 10px;
}
nav.social-nets a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(17, 17, 17, 0.7);
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 21px;
    margin: auto;
}

div.col.copy img {
    width: 50px;
    margin: auto;
    display: block;
}

div.col.copy p {
    border-top: 2px solid;
    margin-top: 2px;
    padding-top: 7px;
    max-width: 187px;
    margin: auto;
    font-size: 13px;
}

div.col.copy .design-copy {
    margin-top: 10px;
    font-size: 12px;
}

@media (max-width: 768px) {
    div#footer-content div.col {
        width: 100%;
        float: none;
    }    
}