.front-page article.news {
    margin-top: 40px;
    margin-right: 11px;
    background: url(image_path('news-paper-bg.jpg')) no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 100%;
    background-color: #fff;
    width: 400px;
    height: 298px;
    float: left;
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 0.85em;
    overflow: hidden;
    
    header {
        margin-left: 40px;
        margin-bottom: 10px; 
        a {
            color: #000;
            text-transform: uppercase;
        }
    }

    section {
        margin-left: 10px;
        margin-right: 10px;
    }   

    footer {
        margin-top: 20px;
        margin-left: 10px;
        position: absolute;
        bottom: 40px;
    }
}

section.site_description {
    float: left;
    width: 540px;
}

section#articles {
    clear: left;
}
section#articles h2.title {
    padding-top: 20px;
    border-bottom: 3px solid;
}