$menu_width: 270px;
$column_width: 440px;

.info{
  text-align: left;
  background-color: #fff;
}

.info-menu{
  position: absolute;
  margin: 25px 0 25px 15px;

  width: $menu_width;
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
  border-radius: 14px;

  z-index: 1;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid #d8d8d8;
      padding: 5px 0px 5px 20px;
      &.last {
        border-width: 0px;
      }
      &.sub-menu-item {
        padding: 5px 0px 5px 40px;
      }
    }
  }
}


.info-menu.fixed {
  position: fixed;
  top: 0;
}

section.info-content{
  margin: 0 auto 20px auto;
  width: 2 * $column_width  + $menu_width + 30px;

  .menu-placeholder{
    vertical-align: top;
    display: inline-block;
    width: $menu_width + 10px;
  }

  .column{
    display: inline-block;
    vertical-align: top;
    width: $column_width;
  }
}


.institution-map-info{
  h3{
    margin: 10px;
  }
  .description{
    margin: 5px
  }
}

.institution-map-comments{
  margin: 10px;
}

article.institution{

  display: block;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  border-bottom-width: 2px;
  margin: 25px 10px;
  border-radius: 3px;

  .institution-info{
    background-color: #fff;
    padding: 20px 30px;
  }

  .comments{
    border-top: 1px solid #d8d8d8;
    background-color: #f5f5f5;
    padding: 20px 30px;
  }
}


article.institution:hover{
  .institution-info{
    background-color: #fdfdfd;
  }

  .comments{
    background-color: #eee;
  }
}


article.institution-view{
  text-align: left;
  h3{
    text-align: center;
    margin: 50px 0 50px 0;
  }

  .institution-view-info{
    width: 80%;
    margin: 20px auto;
    padding-bottom: 40px;
  }

  .institution-img{
    max-width: 40%;
    max-height: 40%;
    float: right;
  }
}