.tasks{
  text-align: left;

  h3{
    margin: 5px 0;
  }    

  h2{
    margin: 10px 0;
  }

  .admin_links{
    margin: 30px 0;
  }

  width: 60%;
  margin: 20px auto;

}

.links{
  text-align: left;
  h2{
    margin: 10px 0;
  }

  width: 60%;
  margin: 20px auto;
  padding-bottom: 20px;
  .warning{
    color: red;
  }
}

