#map-canvas { 
    height: 600px; 
    width: 100%; 
    margin: 0 auto; 
}

#map-menu{
  margin: 10px;
  display: none;

  font-size: 14px;
  line-height: 17px;
  font-weight: 300;

  background-color: #fff;
  // border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);


  .entities_group {
    border-bottom-color: rgb(229, 229, 229);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    padding: 0 25px 10px 15px;

    &:hover {
      background-color: rgb(229, 229, 229);

    }

    &:first-child{
      padding-top: 5px;
    }

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

  }

  ul.menu {
    padding-left: 15px;
  }

  .toggle-label {
    cursor: pointer;
  }

  .group-toggle-label {
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
  }

  #collapse-button{
    height: 16px;
    text-align: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    &:hover {
      background-color: rgb(229, 229, 229);
    }

    min-width: 35px;

    .collapse-icon {
      padding-top: 4px;
      color: #888;
    }
    .expand-icon {
      display: none;
      padding-top: 8px;
      color: #777;
    }
  }
}

img.institution-map-img{
  max-width: 30%;
  float: right;
}


.institution-map-comments{
  text-align: center;
}