@import url(http://fonts.googleapis.com/css?family=Exo+2:100|Noto+Serif|Bad+Script|Open+Sans&subset=latin,cyrillic);

/*
** TEMPLATE STYLE
*/
html, body, * {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    max-width: 1235px;
    min-height: 100%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

ul {
    list-style: none;
}

nav#sec-nav {
    width: 100%;
    height: 25px;
}
nav#sec-nav ul li {
    float: right;
    text-align: center;
}

nav#sec-nav ul li.user-info a,
nav#sec-nav ul li.logon a,
nav#sec-nav ul li.registration a{
    width: auto;
    margin-right: 10px;
    font-size: 13px;
    line-height: 25px;
    text-decoration: underline;
}

nav#sec-nav ul li.google {
    background-color: #828282;
}
nav#sec-nav ul li.facebook {
    background-color: #969595;
}
nav#sec-nav ul li.vk {
    background-color: #aaa9a9;
}
nav#sec-nav ul li.twitter {
    background-color: #c1c1c1;
}
nav#sec-nav ul li a {
    display: block;
    width: 25px;
    height: 25px;
    margin: auto;
    text-decoration: none;
    color: #000;
}
nav#sec-nav ul li a:hover {
    background-color: black;
    color: white;
}

h1#site-title {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 18px;
    color: #a4c7fe;
}

div#logo {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

div#logo img {
    width:300px;
}

nav#menu {
}
nav#menu ul * {
    list-style: none;
}

section.content {
    text-align: left;
    clear: both;
}

section.content h1.title {
    clear: both;
    padding-top: 30px;
    margin-bottom: 30px;
    font-family: 'Bad Script', cursive;
}
.action_call {
    font-family: 'Bad Script', cursive;
    font-size: 1.3em;
}

.notice,.alert{
    color: red;
    margin: '10 0';
    background-color: #fff;
}

.clearfix:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
