%article.institution
  .institution-info
    %h3 
      %a{ href: institution_path(@entityClass, institution.id) }=institution.name
    - if institution.has_attribute?('boss') && !institution.boss.empty?
      .boss
        %p= 'Директор: ' + institution.boss
    %div.address
      %p= 'Адрес: ' + (institution.address || '')
    - institution.contacts.all_sites.each do |s|
      .site
        %a{href: s.contact}= truncate(s.contact, length: 40)
    - phones = institution.contacts.phones
    - unless phones.empty?
      %p 
        Телефон:
        - phones.each do |p|
          .phone= p.contact
    .description
      %p= truncate(institution.description, length: 200)
  .comments= comments(institution.comments.count)
      