<div class="institution-map-info clearfix">
  <h3>
    <a href="/info/{{entityName}}/{{id}}">{{name}}</a>
  </h3>

  {{#if img_path}}
    <img class='institution-map-img' src= "{{{img_path}}}", alt= "view of {{name}}" >
    </img>
  {{/if}}
  
  <div class="address">
    <p><b>Адрес:</b> {{address}}</p>
  </div>
  {{#each sites}}
    <div class="site">
      <a href="{{this.contact}}">{{this.contact}}</a>
    </div>
  {{/each}}


  {{#each phones}}
    {{#if @first}}
      <b>Телефон:</b>
    {{/if}}
    <div class="phone">
      {{this.contact}}
    </div>
  {{/each}}

  {{#if boss}}
    <div class="boss">
      <p>
        <b>
          {{#if boss_post}} {{boss_post}}{{else}}Начальник{{/if}}:
        </b> 
        {{boss}}
      </p>
    </div>
  {{/if}}
  

  <div class="description">
    <p>{{description}}</p>
  </div>

</div>

<div class="institution-map-comments"><a href="/info/{{entityName}}/{{id}}">{{commentsCountString}}</a></div>
