%nav.info-menu
  %ul
    %li.main{data: {count: 3}} 
      %a Образование
    %li.sub-menu-item
      %a{ href: "/info/schools", data: {remote: true} } Школы
    %li.sub-menu-item
      %a{ href: "/info/kindergartens", data: {remote: true} } Дошкольное образование
    %li.sub-menu-item
      %a{ href: "/info/children_circles", data: {remote: true} } Кружки, творчество, спорт
    %li.main{data: {count: 4}}
      %a Медицинские учреждения
    %li.sub-menu-item
      %a{ href: "/info/policlinics", data: {remote: true} } Поликлиники и диспансеры
    %li.sub-menu-item
      %a{ href: "/info/hospitals", data: {remote: true} } Больницы
    %li.sub-menu-item
      %a{ href: "/info/stomatologies", data: {remote: true} } Стоматология
    %li.sub-menu-item
      %a{ href: "/info/maternity_hospitals", data: {remote: true} } Роддома
    %li.main{data: {count: 3}}
      %a Гос. учреждения
    %li.sub-menu-item
      %a{ href: "/info/police", data: {remote: true} } Полиция
    %li.sub-menu-item
      %a{ href: "/info/controller_offices", data: {remote: true} } Диспечерские
    %li.sub-menu-item
      %a{ href: "/info/state_institutions", data: {remote: true} } Остальное
    %li.main{data: {count: 3}}
      %a Культура
    %li.sub-menu-item
      %a{ href: "/info/cinemas", data: {remote: true} } Кинотеатры
    %li.sub-menu-item
      %a{ href: "/info/cirques", data: {remote: true} } Цирки
    %li.sub-menu-item.last
      %a{ href: "/info/libraries", data: {remote: true} } Библиотеки