var oddContent = '<%= j render partial: "institution", collection: @odds %>';
var evenContent = '<%= j render partial: "institution", collection: @evens %>';

$('.column.odd').replaceWith("<div class='column odd'>" + oddContent + "</div>");
$('.column.even').replaceWith("<div class='column even'>" + evenContent + "</div>");

