.info
  = render 'menu'
  %section.info-content
    %span.menu-placeholder
    .column.odd
      = render partial: 'institution', collection: @odds
    .column.even
      = render partial: 'institution', collection: @evens

