%article.institution-view
  .institution-view-info.clearfix
    %h3= @institution.name
    
    - if @institution.img_path
      %img.institution-img{src: image_path(@institution.img_path), alt: "view of #{@institution.name}" }

    %div.address
      %p= 'Адрес: ' + (@institution.address || '')
    - @institution.contacts.all_sites.each do |s|
      .site
        %a{href: s.contact}= truncate(s.contact, length: 40)
    - phones = @institution.contacts.phones
    - unless phones.empty?
      %p 
        Телефон:
        - phones.each do |p|
          .phone= p.contact
    - if !@institution.try(:boss).empty? 
      .boss
        %p= (@institution.try(:boss_post) || 'Начальник') + ': ' + @institution.boss
    .description
      %p= @institution.description

= render partial: 'comments/comments_panel', locals: { owner: @institution }
