%script{src: "https://maps.googleapis.com/maps/api/js"}

:javascript
  window.entities = #{@entities.to_json};
  onready(initialize_map);

%section.content
  #map-canvas

  #map-menu
    .menu-inner
      - @entities.group_by {|en| en[:topic] }.each do |topic, topic_entities|
        .entities_group 
          %label.group-toggle-label
            %input.group-toggle{type: :checkbox, checked: :true, data: {topic: topic}}
            %span.group-toggle-text= topic
          - sorted = topic_entities.sort{|a,b| a[:ruName]=~/остальное/i ? 1 : b[:ruName]=~/остальное/i ? -1 : a[:ruName]<=>b[:ruName]}
          - sorted.each do |en|
            %ul.menu
              %li
                %label.toggle-label
                  %input.entity-toggle{type: :checkbox, checked: :true, data: {entity: en[:name]}}
                  %span.toggle-text= en[:ruName] || en[:name]
    #collapse-button
      .collapse-icon
        %i.fa.fa-sort-up.fa-lg
      .expand-icon
        %i.fa.fa-list.fa-lg


%script#institution-template{type: "text/x-handlebars-template"}
  =render 'institution_template'


