%footer.mainfooter
  .footer_container
    #city-bg
    #footer-content
      .col
        %nav.main-menu
          %ul
            %li
              %a{href: '/'}
                %i.fa.fa-home.fa-fw
                Главная
            %li
              %a{href: '/about'}
                %i.fa.fa-anchor.fa-fw
                О нас
            - if current_user
              %li
                %a{href: '/admin/articles'}
                  %i.fa.fa-cog.fa-fw
                  Список статей
            %li
              %a{href: '/map'}
                %i.fa.fa-map-marker.fa-fw
                Карта района
            %li
              %a{href: '/helpful'}
                %i.fa.fa-bell.fa-fw
                Куда обращаться
            %li
              %a{href: '/articles'}
                %i.fa.fa-bullhorn.fa-fw
                Новости

      .col
        %nav.reg-log
          %ul>
            %li.registration
              %a{href: '/users/sign_up'} Регистрация
            %li.logon
              %a{ href: '/users/sign_in'} Вход
      .col
        %nav.social-nets
          %ul
            %li.facebook
              %a{ href: 'https://www.facebook.com/groups/Juzhnyj.port/'}
                %i.fa.fa-facebook.fa-fw
            %li.vk
              %a{href: 'https://vk.com/southport_msk'}
                %i.fa.fa-vk.fa-fw
            %li.twitter
              %a{href: 'https://twitter.com/Southport_Msk'}
                %i.fa.fa-twitter.fa-fw
      
      .col.copy
        %img{ src: image_path("anchor-footer.png") }
        %p (c) 2015 г. Гражданское объединение «Южный порт»
        .design-copy KirillDESIGN
