%header#header
  = render 'layouts/login'

  .container.logo
    #logo
      %a{href: "/" }
        %img{ src: image_path("logo.png"), alt: "Лого района (якорь)" }
    .container
      %nav.main.menu.clearfix#menu
        .flexy-menu-wrapper
          %ul.flexy-menu
            %li
              %a{href: "/"}
                %i.fa.fa-home.fa-fw
                Главная
            %li
              %a{href: '/about'}
                %i.fa.fa-anchor.fa-fw
                О нас
            %li
              %a{'href'=> '/map', 'data-no-turbolink' => true}
                %i.fa.fa-map-marker.fa-fw
                Карта района
            %li
              %a{href: '/helpful'}
                %i.fa.fa-bell.fa-fw
                Куда обращаться
            %li
              %a{href: '/articles'}
                %i.fa.fa-bullhorn.fa-fw
                Новости
  