%nav#sec-nav
  - if user_signed_in?
    %ul
      %li.user-info 
        = link_to "#{current_user.login}", edit_user_registration_path
    %ul
      %li.user-info 
        = link_to "Оповещения (#{current_user.new_notifications.count})", notifications_path
    %ul
      %li.user-info 
        = link_to "Выйти", destroy_user_session_path, method: :delete
  - else
    %ul
      %li.google
        %a{href: omniauth_authorize_path(:user, :Google)}
          %i.fa.fa-google.fa-fw
          &nbsp;
      %li.facebook
        %a{href: omniauth_authorize_path(:user, :facebook)}
          %i.fa.fa-facebook.fa-fw
          &nbsp;
      %li.vk
        %a{href: omniauth_authorize_path(:user, :vkontakte)}
          %i.fa.fa-vk.fa-fw
          &nbsp;
      %li.twitter
        %a{href: omniauth_authorize_path(:user, :twitter)}
          %i.fa.fa-twitter.fa-fw
          &nbsp;
      %li.registration
        %a{href: "/users/sign_up"}
          Регистрация
      %li.logon
        %a{href: "/users/sign_in"}
          Вход