!!! 5
%html
  %head
    %title Гражданское объединение «Южный порт»
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.front-page
    .page_container
      
      = render 'layouts/header'

      = yield

      = render 'layouts/footer'
      = render 'layouts/analytics'
